{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href='https://fonts.googleapis.com/css?family=Titillium Web' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">

    <title>Story 3</title>
</head>
<body>  
        <nav class="navbar">
            <label class="logo"> <span>HANIF</span>ANGGAWI</label>
            <ul>
                <li><a  href="{% url 'profile' %}">About</a></li>
                <li><a class="active" href="{% url 'fitur' %}">Artwork</a></li>
            </ul>
        </nav>

        <div class="container1">
            <h2>ARTWORK</h2>
        </div>

        <div class="container2">
            <div class="artwork-group">
                <img src="{% static 'images/MAUNG.svg' %}" alt="">
                <img src="{% static 'images/KIPAS2.svg' %}" alt="">
                <img src="{% static 'images/PORTRAIT.png' %}" alt="">
            </div>
        </div>
        
</body>
</html>