@font-face {
    font-family: 'ITC Avant Garde';
    font-style: normal;
    font-weight: 500;
    src: local('ITC Avant Garde'), url('/static/fonts/ITCAvantGardeStd-MdCn.ttf') format('truetype');
}

@font-face {
    font-family: 'ITC Avant Garde';
    font-style: italic;
    font-weight: 500;
    src: local('ITC Avant Garde'), url('/static/fonts/ITCAvantGardeStd-MdCn.ttf') format('truetype');
}

@font-face {
    font-family: 'ITC Avant Garde';
    font-style: normal;
    font-weight: 600;
    src: local('ITC Avant Garde'), url('/static/fonts/ITCAvantGardeStd-DemiCn.ttf') format('truetype');
}

@font-face {
    font-family: 'ITC Avant Garde';
    font-style: normal;
    font-weight: 300;
    src: local('ITC Avant Garde'), url('/static/fonts/ITCAvantGardeStd-BkCn.ttf') format('truetype');
}


body {
    background-color: rgb(245, 245, 245);
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.navbar {
    background: #150445;
    height: 50px;
    padding-left: 8em;
    padding-right: 8em;
}

nav ul {
    float: right;
    justify-content: space-between;

}

nav ul li{
    font-family: Titillium Web;
    font-style: normal;
    font-weight: 900;
    line-height: 0px;
    letter-spacing: 1px;

    display: inline-block;
    /* margin: 0 5px; */
    padding-left: 1em;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

a.active, a:hover{
    color: #F96A19;
    transition: .25s;
    text-decoration: none;
}

label {
    color: white;
    font-size: 1.1rem;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: 1000;
    line-height: 50px;
    letter-spacing: 1px;
}

.logo span {
    color: #F96A19;
    font-size: 1.1rem;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: 1000;
    line-height: 50px;
    letter-spacing: 1px;
}

.box1 img {
    width: 15.625em;
}

h1,h2 {
    color: #150445;
    text-shadow: 1px 0 #150445;
    font-family: Titillium Web;
    font-style: normal;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: .4px;
    text-transform: uppercase;
}




.box3 ul li, .box4 ul li,h4, span {
    font-family: ITC Avant Garde;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
}


@media(min-width:768px) {
    .container1 {
        width: 100%;
        padding-top: 1px;
        display: flex;
        justify-content: center;  
        padding-bottom: 0;
        flex-wrap: wrap;
     }

     .container2 {
        width: 100%;
        background: #EFF1FA;
        display: flex;
        justify-content: space-around;
        padding-top: 2.5em;
        padding-bottom: 2.5em;
        flex-wrap: wrap;
        
    }
}


.container1 div, .container2 div {
    padding: 10px 10px 0px 10px;
}


/* .box1, .box2, .box3, .box4, .pendidikan-group, .pengalaman-group {
    border: 1px #c4c4c4 solid;
} */

.box1 , .box2 {
    max-width: 30%;
}

@media(max-width:768px) {
    .box1 {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin-bottom: 0;
    }
    .box2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

.box1 {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0;
    margin-bottom: 0;
}


.box2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.box2 img {
    width: 90%;
    margin: 1.5em 0em 1.5em 0em;
}

h1 {
    font-size: 3rem;
    margin: 0px 0px 0px 0px;
}

h4 {
    font-size: 1.4em; 
    margin: 0px 0px 0px 2px;
}
p {
    font-family: ITC Avant Garde;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3em;
    max-width: 18em;
    margin: 0px 0px 1em 2px;
}


h2 {
    letter-spacing: 1.2px;
    font-size: 2.4em;
    margin: 0px 0px 0px 0px;
}

.box3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pendidikan-group {
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.pendidikan-group img {
    width: 2.4em;
}



.box4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pengalaman-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2em;
}

.pengalaman-baris {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0px 0px 0px 0px;
    margin-bottom: 1.3em;
}

.pengalaman-baris img {
    max-width: 60px;
    margin: 0px 3px 0px 0px;
}

.pengalaman-text {
    font-size: 1.3em ;
    margin: 0px 0px 3px 0px;
}

.jabatan {
    font-weight: 300;
}
.tahun {
    font-weight: 300;
    color: #F96A19;
}





.container3 {
    margin-top: 2em;
    margin-bottom: 2em;
}

.contact-logo {
    display: flex;
    width:10em ;
    justify-content: center;
}

.contact-logo a img{
    width: 65px;
    justify-content: center;
}

.contact-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.artwork-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.artwork-group img {
    width: 15em;
    margin: 0px 3em 0px 3em;
}